$dark-grey: #1b2029;
$light-grey: #3d4149;
$lighter-grey: #828487;
$link-color: #E8EAED;
$almost-black: #0A0C10;
$white: #fff;
$purple: #9351e5;

$table-hover: hsla(0, 0%, 100%, 0.05);
$modal-header: #0A0C1C;
$button-stroke-border: #494d54;
$badge: #A3A5A9;
$input-placeholder: #57585A;
$table-color: #dadde2;
$badge-color: #484C53;
$badge-text-color: #A3A5A9;